
@charset "utf-8";
/* CSS Document */

.container{
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

.tableborder{
	align-content: center;
	border: 3px;
	padding: 10px;
	text-emphasis-color: white;
}

.fondo{
	background-color: #4E380E;
	
}

.nav-title{
	color: white;
	text-align: center
	background-color: black;
	font-size: 10px;
	
}

